<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- 定时器执行 -->
	<bean id="job"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="countWageServiceJobTriggers" />
			</list>
		</property>
	</bean>

	<!-- 定时任务 -->
	<bean id="countWageServiceJobDetails"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="CountWageService" />
		</property>
		<property name="targetMethod">
			<value>createWageList</value>
		</property>
	</bean>

	<!-- 启动时间设置 -->
	<bean id="countWageServiceJobTriggers"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="countWageServiceJobDetails" />
		</property>
		<property name="cronExpression">
			<value>0 * 0 * * ?</value>
		</property>
	</bean>

</beans>
